<div class="left">
    {% if page.title %}
    <h1><a href="{{ root_url }}{{ page.url }}">{{ page.title }}</a></h1>
    {% for tag in page.categories %}
        <h2>{{ tag }}</h2>
    {% endfor %}
    {% else %}
    <h1><a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a></h1>
    {% for tag in post.categories %}
        <h2 class="{{ tag }}">{{ tag }}</h2>
    {% endfor %}
    {% endif %}
</div>
<div class="right definitions">
    {% if index %}
        {{ content | excerpt }}
    {% else %}
        {{ content }}
    {% endif %}
</div>
